<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap.css' %}">

    <!-- Custom CSS stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">

    <title>Welcome to UpCycle</title>
    </head>

    <!-- This is login and registration. -->
    <body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h2 class="display-4">Welcome to UpCycle!</h2><br> <br> 
            <h2>Want to participate in a material exchange?</h2><br><br>
                <form action="/process_registration" method="POST">
                    <h2>Register Here</h2> <br> 
                    {% csrf_token %}
                    <form>
                        <div class="form-row">
                            <label class="name" for="name">Company</label>
                            <input type="text" class="form-control" id="name" placeholder="Company Name">
                        </div>                        
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pw_confirm">Confirm Password</label>
                            <input type="password" class="form-control" id="inputPassword4" name="pw_confirm" placeholder="Password">
                        </div
                        <div class="form-group">
                          <label for="street_address_1">Address</label>
                          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                        </div>
                        <div class="form-group">
                          <label for="street-address_2">Address 2</label>
                          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="inputCity" name="city" placeholder="City">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                              <option selected>Choose...</option>
                              <option>...</option>
                            </select>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                              Check me out
                            </label>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                      </form>
                    <div class="input-group-sm">
                        <div class="input-group-append">
                            <span class="input-group-sm-text" for="name">Company</span>
                          </div>                        
                        <!-- <label class="name" for="name" >Company  </label> -->
                        <input class="form-control" type="text" name="name">  <br> 
                    </div>
                    
                    <div class="input-group-sm">
                        <label for="street_address_1">Street Address</label>
                        <input class="form-control" type="text" name="street_address_1">
                    </div>

                    <div class="input-group-sm">
                        <label for="street_address_2">Suite</label>
                        <input class="form-control"type="text" name="street_address_2" placeholder="Suite #"><br>
                    </div>

                    <div class="input-group-sm">
                        <label for="city">City</label>
                        <input class="form-control"type="text" name="city" placeholder="City">
                    </div>

                    <div class="input-group-sm">
                        <label for="state">State</label>
                        <input class="form-control"type="text" name="state" placeholder="State"><br>
                    </div>

                    <div class="input-group-sm">
                        <label for="zip_code">Zip</label>
                        <input class="form-control"type="integer_field" name="zip_code" placeholder="Zip Code"><br><br>
                    </div>

                    <div class="input-group-sm">
                        <label for="material">Materials needed for your Industrial Processes</label>
                        <input class="form-control"type="text" name="material"><br>
                    </div>

                    <div class="input-group-sm">
                        <label for="phone">Phone</label>
                        <input class="form-control"type="text" name="phone" placeholder="(206)444-4444"> <br>
                    </div>

                    <div class="input-group-sm">
                        <label for="email">Email</label>
                        <input class="form-control"type="text" name="email"> <br>
                    </div>

                    <div class="input-group-sm">
                        <label for="password">Password </label>
                        <input class="form-control"type="text" name="password"><br>
                    </div>

                    <div class="input-group-sm">
                        <label for="pw_confirm">Confirm Password </label>
                        <input class="form-control"type="text" name="confirm"><br>
                    

                    <button class="btn btn-primary" type='submit'>Register </button>
                </div>
                </form>
            <hr class="my-4">
            
            <!-- This is the login side. -->
            <form action="/process_login" method="POST">
                <h2>Login</h2>
                {% csrf_token %}
                <label for="email">Email</label>
                <input type="text" name="email"><br><br>
                <label for="password">Password </label>
                <input type="text" name="password"><br><br>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>

            <!-- Error Messages pop up here -->
            
        <div>
            <ul class= "error_messages">
                {%  if messages %}
                {% for message in messages %}
                <li><span style="font-style:italic; color:red;">{{message}}</span></li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      
    <!-- bootstrap.js-->
    <script type="text/javascript" src="{% static 'bootstrap.js' %}"></script>

    <!-- Custom JavaScript -->
    <!-- <script type="text/javascript" src="script.js"></script> -->

  </body>
</html>
