<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">

    {% load static %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/bootstrap.css' %}">

    <!-- Custom CSS stylesheet-->
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">

    <title>Dashboard Map</title>
    </head>

    <!-- This is login and registration. -->
    <body>
        <div class= "float-right">
            <a class="btn btn-danger" href='/'>Log Out</a>
            <a class="btn btn-warning" href='/new_material'>Add Material</a>
            <a class="btn btn-warning" href='/new_company'>Add Company</a>
           
        </div>
        <!-- Other companies and materials listed here -->
        <!-- These are materials that our company might be interested in but does not currently have. -->
        <h1>{{request.user.name}} &nbsp; Dashboard</h1><br>    
        <h3>Materials Available</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Material Id</th>
                    <th scope="col">Material Source</th>
                    <th scope="col">Description</th>
                    <th scope="col">Transport</th>
                    <!-- <th scope="col">Actions</th> -->
                </tr>
                </thead>
            <tbody>
                {% for materials in filtered_list %}
                <tr>
                    <th scope="row"> {{industrial_material.id}}</th>
                    <td> <a href="/material_info/{{industrial_material.id}}">{{industrial_material.material_name}}</a> </td>
                    <td>{{industrial_material.material_source}}</td>
                    <td>{{industrial_material.description}}</td>
                    <td>{{industrial_material.transport}}</td><br>
                        <a class="btn btn-primary" href="/material_info/{{industrial_material.id}}/{{request.session.copmany_id}}" role="button">View Material Info</a> 
                        <a class="btn btn-primary" href='/add_industrial_material/{{industrial_material.id}}/{{request.session.companyr_id}}' role="button">Add Material</a>  
                        <a class="btn btn-primary" href='/edit/{{industrial_material.id}}' role="button">Edit</a>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    
            <!-- Your jobs listed here with buttons to View job details, Mark job done  or Give Job up -->
    
            <div class="dashboard_container">
                {% csrf_token %}
                <h3>{{request.session.name}} Yours Materials</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Material Id</th>
                        <th scope="col">Material Name</th>
                        <th scope="col">Material Source</th>
                        <th scope="col">Description</th>
                        <th scope="col">Transport</th>
                        <!-- <th scope="col">Actions</th> -->
                    </tr>
                    </thead>
    
                    <tbody>  
                    {% for material in this_company.industrial_material_source.all %}
                    <tr>
                        <th scope="row"> {{industrial_material.id}}</th>
                        <td>{{industrial_material.material_name}}</td>
                        <td>{{industrial_material.material_source}}</td>
                        <td>{{industrial_material.description}}</td>
                        <td>{{industrial_material.transport}}</td><br>
                        <a class="btn btn-primary" href='/industrial_material_info/{{industrial_material.id}}/{{request.session.company_id}}' role="button">View Details</a>
                        <a class="btn btn-primary" href='/delete_material/{{industrial_material.id}}/{{request.session.company_id}}' role="button">Give Up</a>
                    </tr>
                    {% endfor %}
        
                    </tbody>
                </table>
    
        </div>
            <ul class= "error_messages">
                {%  if messages %}
                {% for message in messages %}
                <p><span style="font-style:italic; color:red;">{{message}}</span></p>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- bootstrap.js-->
    <script type="text/javascript" src="{% static 'bootstrap.js' %}"></script>

    <!-- Custom JavaScript -->
    <!-- <script type="text/javascript" src="script.js"></script> -->

  </body>
</html>
